:root {
  --background-color: rgb(235, 235, 250);
  --link-color: rgb(100, 100, 110);
  --text-color: rgb(60, 60, 80);
  --button-color: rgb(220, 220, 235);
  --border-color: rgb(80, 80, 100);
}

html {
  font-family: Georgia, Helvetica, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

#my-photo {
  width: 50%;
  float: left;
}

#content {
  margin-left: 2%;
  width: 48%;
  float: left;
}

a {
  color: var(--link-color);
}
