:root {
  --background-color: rgb(138, 154, 172);
  --link-color: rgb(230, 230, 230);
  --text-color: rgb(256, 256, 256);
  --head-color: rgb(60, 60, 80);
  --button-color: rgb(60, 60, 80);
  --nav-background-color: rgb(40, 40, 50);
  --hover-color: rgb(180, 180, 200);
  --text-font-family: Copperplate, Copperplate Gothic Light, fantasy;
}

html {
  font-family: var(--text-font-family);
  color: var(--text-color);
  font-size: 250%;
}

.background {
  background-color: var(--background-color);
  background-image: url("images/me.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: 25% 25%;
  background-repeat: no-repeat;
  background-size: cover;
}

#content {
  width: 50%;
  float: left;
}

a {
  color: var(--link-color);
}

#header {
  color: var(--head-color);
}

section {
  padding-bottom: 4rem;
}

.button {
  background-color: var(--button-color);
  border: none;
  color: var(--text-color);
  padding: 15px 32px;
  text-align: center;
  font-family: var(--text-font-family);
  display: inline-block;
  font-size: 100%;
  margin: 4px 2px;
  cursor: pointer;
}

#float {
  float: right;
}

#side-navigation {
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--button-color);
  position: fixed;
  right: 1rem;
  top: 0;
}

.navigation {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: var(--nav-background-color);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.navigation a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--text-color);
  display: block;
  transition: 0.3s;
}

.navigation a:hover {
  color: var(--hover-color);
}

.navigation #close {
  position: absolute;
  top: 0;
  right: 1rem;
  font-size: 1.5rem;
}

#page {
  transition: 0.5s;
}